*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:bisque;
}
.products{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px;
    justify-content: center;
}
.product{
    width: 20%;
    background-color:white ;
    transition: 0.5s
}
.product:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.6);
};